.user-list {
    display: grid;

    grid-template-columns: repeat(2, minmax(0, 1fr));

    gap: 20px;

    max-width: 1040px;
    margin: 30px auto;
}

@media (max-width: 768px) {
    .user-list {
        grid-template-columns: 1fr;
        margin: 20px, 16px;
    }
}